#hasher {
    // max-width: 75ch;
    width: 75ch;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    #input-fields {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow-y: hidden;

        > * {
            max-width: 100%;
            flex: 1 0 auto;
            display: block;
        }
    }

    label, input, select {
        width: 100%;
    }

    > * {
        margin-bottom: 0.5em;
    }

    .label {
        font-weight: 600;
        font-size: 0.9em;
    }

    #button-controls {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-right: -0.5em;
        padding-bottom: -0.5em;

        .output-button {
            font-size: 0.9em;
            flex: 1 0;
            min-width: min-content;
            white-space: nowrap;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    #output {
        margin-top: 1em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 0.2em 2em;
        width: 100%;

        div.data {
            overflow-wrap: break-word;
            min-width: 0;
        }

        button {
            width: 100%;
        }
    }

    input, select {
        height: 1.7em;
        font-size: inherit;
        box-sizing: border-box;
    }
}
